.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--bg100);

    padding: 0 var(--mobileHorizontalPading);
    padding-bottom: var(--mobileTopPading);

    .imgBox {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 1.25rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;

    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .title {
            color: var(--primary200);
        }
    }
}

.section2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;

    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        background-color: var(--primary100);
        border-radius: 1rem;
        padding: .4rem .625rem;

       .text{
        color: var(--text100);
       }
    }
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;

    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }
}