.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--bg100);
  padding: 0 var(--mobileHorizontalPading);
  padding-bottom: var(--mobileTopPading);
}
.container .imgBox {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1.25rem;
}
.container .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}
.section1 span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section1 span .title {
  color: var(--primary200);
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.section2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: var(--primary100);
  border-radius: 1rem;
  padding: 0.4rem 0.625rem;
}
.section2 div .text {
  color: var(--text100);
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}
.section3 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}