.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--bg100);
  padding: 0 var(--mobileHorizontalPading);
  padding-bottom: 1rem;
}
.container .imgBox {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 1.25rem;
}
.container .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}
.section1 span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section1 span .title {
  color: var(--primary200);
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  list-style: none;
}
.section2 li {
  transition: 0.5s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: var(--primary100);
  border-radius: 1rem;
  padding: 0.4rem 0.625rem;
}
.section2 li .text {
  color: var(--text100);
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}
.section3 h3 {
  transition: 0.5s ease-in;
}
.section3 li {
  transition: 0.5s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0 var(--mobileHorizontalPading);
}

.placeholderImage {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1.25rem;
  background: var(--shimmerGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}

.placeholderTitle {
  width: 100%;
  height: 50px;
  border-radius: 1.25rem;
  background: var(--shimmerGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}

.placeholderList {
  width: 100%;
  height: 120px;
  border-radius: 1.25rem;
  background: var(--shimmerGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}