.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg100);
  padding: var(--mobileTopPading) var(--mobileHorizontalPading) 1.75rem var(--mobileHorizontalPading);
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left img {
  width: 2.5rem;
  height: 2.5rem;
}
.left .title {
  color: var(--primary200);
}

.left :hover {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right :hover {
  cursor: pointer;
}

@media (width > 1024px) {
  .header {
    padding: 1.5rem var(--desktopHorizontalPading) 1rem var(--desktopHorizontalPading);
  }
}
@media (width > 1500px) {
  .header {
    padding: 1.5rem 10% 1.75rem 10%;
  }
}