.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 3.8rem);
    gap: 2rem;
    background-color: var(--bg100);

    padding: 0 var(--desktopHorizontalPading);
    padding-bottom: var(--mobileTopPading);
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;

    .head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;

        h1 {
            span {
                color: var(--primary200);
            }
        }
        .subtitle {
            color: var(--text600);
            font-size: 1.1rem;
        }
    }

    .imgBox {
        flex: 1;
        max-height: 60dvh;
        overflow: hidden;
        border-radius: 1.25rem;

        img {
            width: 100%;
            margin-top: -2.3rem;
        }
    }
}

.right {

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    width: 50%;
    height: 80dvh;

   
}

@media (width > 1500px){
    .container{
        padding: 0 10%;
        gap: 4rem;
    }
}