.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    background-color: var(--bg100);
    overflow-x: visible;

    padding: 0 var(--mobileHorizontalPading);
    padding-bottom: var(--mobileTopPading);
    min-height: 100dvh;

    .imgBox {
        transition: var(--longTransition);
        width: 100%;
        height: 25.9rem;
        overflow: hidden;
        border-radius: 1.25rem;

        img {
            transition: var(--longTransition);
            width: 100%;
            border-radius: 1.25rem;
            margin-top: -2.3rem;
        }
    }
    .imgBoxColapse {
        transition: var(--longTransition);
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            transition: var(--longTransition);
            height: 100%;
            aspect-ratio: 1/1.2;
            object-fit: cover;

            border-radius: 0.75rem;
        }
        .imgTitle {
            color: var(--primary200);
        }

        span {
            transition: var(--longTransition);
        }
    }
}

.head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    h1 {
        span {
            color: var(--primary200);
        }
    }
    .subtitle {
        color: var(--text600);
    }
}
