.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--bg100);
    border-top: 1px solid var(--text600);
    padding: 1.25rem var(--mobileHorizontalPading) 1.75rem var(--mobileHorizontalPading);
    gap: 0.5rem;

    p {
        color: var(--text600);
        font-size: 0.65rem;
    }
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .title {
        color: var(--primary200);
    }
}
.left :hover {
    cursor: pointer;
}
.developers {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    a {
        color: var(--primary200);
        font-size: 0.8rem;
    }
}

@media (width >= 1024px) {
    .footer {
        flex-direction: row;
        align-items: center;
        padding: 1.5rem var(--desktopHorizontalPading) 1rem var(--desktopHorizontalPading);
        gap: 0;

        p {
            width: 50%;
            font-size: .85rem;
        }
    }

    .section1 {
       width: 50%;
       justify-content: flex-start;
       gap: 3rem;
    }

  
}
