.feed {
  transition: var(--shortTransition);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-height: 70dvh;
  overflow-y: scroll;
  overflow-x: visible;
  scroll-behavior: smooth;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.placeholderItem {
  background-color: #c9c9c9;
  height: 100px;
  width: 100%;
  border-radius: 1.25rem;
  background: linear-gradient(90deg, var(--accent100) 0%, var(--accent200) 50%, var(--accent300) 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
}
.error .errorText {
  color: var(--text600);
}