.feed {
  transition: var(--shortTransition);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-height: 70dvh;
  overflow-y: scroll;
  overflow-x: visible;
  scroll-behavior: smooth;
}