<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <httpErrors errorMode="Detailed" />
<asp scriptErrorSentToBrowser="true" />
    <!-- Permite que todas as rotas SPA caiam no index.html -->
    <rewrite>
      <rules>
        <rule name="ReactRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Ignora arquivos e pastas reais -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Redireciona tudo para o index.html -->
          <action type="Rewrite" url="/index.html" />
        </rule>

          <rule name="NoCacheIndex" stopProcessing="true">
          <match url="index.html" />
          <action type="None" />
          <serverVariables>
            <set name="RESPONSE_Cache-Control" value="no-cache, no-store, must-revalidate" />
            <set name="RESPONSE_Pragma" value="no-cache" />
            <set name="RESPONSE_Expires" value="0" />
          </serverVariables>
        </rule>

      </rules>
    </rewrite>

     <staticContent>
      <clientCache cacheControlMode="UseMaxAge"
                   cacheControlMaxAge="365.00:00:00"
                   cacheControlCustom="public" />
    </staticContent>

    <!-- Melhora cache e desempenho -->
    <httpProtocol>
      <customHeaders>
        <!-- Permite instalação PWA -->
        <add name="Service-Worker-Allowed" value="/" />
       
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
