<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <httpErrors errorMode="Detailed" />
<asp scriptErrorSentToBrowser="true" />
    <!-- Permite que todas as rotas SPA caiam no index.html -->
    <rewrite>
      <rules>
        <rule name="ReactRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Ignora arquivos e pastas reais -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Redireciona tudo para o index.html -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

   <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

   

    <!-- Melhora cache e desempenho -->
    <httpProtocol>
      <customHeaders>
        <!-- Permite instalação PWA -->
        <add name="Service-Worker-Allowed" value="/" />
        <!-- Evita cache em arquivos críticos -->
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
