.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 var(--mobileHorizontalPading);
  padding-bottom: var(--mobileTopPading);
}
.container .p {
  text-align: left;
  color: var(--text600);
}

@media (width > 1024px) {
  .container {
    padding: 0 var(--desktopHorizontalPading);
    gap: 2rem;
    width: 75%;
  }
}
@media (width > 1500px) {
  .container {
    padding: 0 10%;
    gap: 2rem;
  }
}